/*stylesheet.css*/
* {
  background-color: #FFE9CD;
  font-family: 'Lato', sans-serif;
}

/* top navigation bar-------------------------------*/
.top-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFE9CD;
  
}

.top-nav li {
  float: right;
  background-color: #FFE9CD;
}


.top-nav li a {
  display: block;
  color: #F19CA2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Gaegu', cursive;
  font-size: 20px;
}

li a: hover {
  background-color: #E8B3A3;
}
/*----------------------------------------------*/

header {
  position: absolute;
  height: 1rem;
  width: 25rem;
  bottom: 60%;
  right: 55%;
  margin-left: auto;
  margin-right: auto;
}

.home-center{
  height: 300px;
  width: 550px;
  position: absolute;
  left: 50%;
  bottom: 30%;
  opacity: 10%;
}

.ab-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Lato', sans-serif;
}
.ab-photo {
  height: 300px;
  width: 300px;
  position: absolute;
  bottom: 28%;
  right: 55%;
}

/*Sets about me paragraphs to middle*/
.about-me {
  position: absolute;
  height: 1rem;
  width: 25rem;
  left: 55%;
  bottom: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lato', sans-serif;
}

p {
  text-align: justify;
}

table {
  width: 75rem;
  border: 1px;
  color: solid black;
}

th {
  font-family: 'Gaegu', cursive;
  background-color: #F19CA2;
  border: 1px solid black;
}

td{
  border: 1px solid black;
}

.center {
  font-family: 'Gaegu', cursive;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #F19CA2;
}

.project-table{
  width 100%;
  height: 50px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}


footer p {
  font-family: 'Gaegu', cursive;
  font-size: 10px;
}

.ab-footer{
  position: absolute;
  right: 1%;
  width: 11%;
  bottom: 1%;
}

.pro-footer{
  background-color: #FFE9CD;
  position: absolute;
  right: 1%;
  bottom: -25%;
}